services:
  ############################################################
  #  TRAEFIK — reverse proxy for all your services
  ############################################################
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "8080:8080"
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  ############################################################
  #  N8N
  ############################################################
  n8n:
    image: n8nio/n8n
    container_name: n8n
    environment:
      - N8N_HOST=n8n.kathlashes.com
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`n8n.kathlashes.com`)"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"
    restart: always
    volumes:
    - ./n8n-data:/home/node/.n8n

  ############################################################
  #  NODE SERVER
  ############################################################
  whatsapp-bot:
    build: ./whatsapp-bot
    container_name: whatsapp-bot
    restart: always
    volumes:
      - ./whatsapp-bot/.wwebjs_auth:/app/.wwebjs_auth
      - ./whatsapp-bot/.wwebjs_cache:/app/.wwebjs_cache

  ############################################################
  #  CLOUDFLARE TUNNEL — secure public access
  ############################################################
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run --token eyJhIjoiMjk2MjE4M2E5N2E1ZTAwNTMyMmRiZGQ0Y2EwMjk1YmIiLCJ0IjoiNjU1YWRhYWYtZWYzZS00MThmLThhOGQtYTJmZDdiZjgyYWQ3IiwicyI6Ik1HUm1ZVEUxWVdRdE1tUTFOUzAwWlRrMkxXSTNZek10T1dZNE1XUTNaREprTUdFeSJ9
    labels:
      - "traefik.enable=false"
    restart: unless-stopped
